// #########################################################
//            COPY BOOTSTRAP VARIABLES YOU NEED TO OVERIDE INTO THIS FILE            
//              WE HAVE AFEW OVERIDES ALREADY
// #########################################################
            
// COPY VARIABLES YOU WANT TO OVRIDE HERE

@import "../node_modules/bootstrap/scss/bootstrap.scss";
